/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin, padding and default heading behaviours*/
  * {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  
  body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  Font-family: inherit;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  :root {
    /* ### Neutral  */
--clr-Dark-Text: hsl(229, 25%, 31%);
--clr-Score-Text: hsl(229, 64%, 46%);
--clr-Header-Outline: hsl(217, 16%, 45%);

  }
  html, body {
  height: 100%;
  font-family: 'Barlow Semi Condensed';
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}
.game-components {
    height: 100%;
    display: grid;
    padding: 1.5rem;
    justify-content: center;
}
.game__score-box {
  justify-self: center;
}
.score__big-box {
    padding: 0.5rem;
    border: 3px solid var(--clr-Header-Outline);
    border-radius: 0.5rem;
    display: flex;
    gap: 30vw;
    /* justify-content: space-between; */
}
.game-logo {
    padding: 0.5rem;
    width: 100px;
}
.score__small-box {
    padding: 0.4rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}
.score {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--clr-Score-Text);
}
.score__number {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-Dark-Text);
}
.triangle-game__buttons {
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
    column-gap: 4.5rem;
    background-image: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: center;
}
.triangle-game__buttons button {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    place-content: center;
    background-color: white;
    cursor: pointer;
}
.triangle-game__buttons button img {
    place-self: center;
    width: 48px;
}
.rock__button {
    position: relative;
    left: 75%;
}
.paper__button {
    border: 16px solid  hsl(230, 89%, 62%);
    box-shadow: 0px 4px 0px hsl(230, 59%, 33%);
}
.scissors__button {
    border: 16px solid  hsl(39, 89%, 49%);
    box-shadow: 0px 4px 0px hsl(40, 75%, 30%);
}
.rock__button {
    border: 16px solid hsl(349, 71%, 52%);
    box-shadow: 0px 4px 0px hsl(349, 54%, 28%);
}
.game__rules-button {
    justify-self: center;
    align-self: flex-end;
}
.rules__button {
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: transparent;
    text-transform: uppercase;
    border: 3px solid var(--clr-Header-Outline);
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
}
  .hidden {
    display: none;
  }
  .absolute {
    position: absolute;
  }
  .rules__section {
    display: none;
    /* flex-direction: column; */
    background-color: white;
    text-align: center;
    justify-items: center;
    z-index: 7;
    animation: vanish 1s;
  }
  .rules__section[open] {
    animation: appear 1s;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes vanish {
    from {
      display: grid;
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
    }
  }
  .rules {
    text-transform: uppercase;
    font-size: 2rem;
    place-self: center;
    font-weight: 600;
    color: var(--clr-Dark-Text);
    margin-bottom: 5rem;
    margin-top: 2rem;
  }
  .rules-close-button{
    place-self: center;
    display: grid;
    place-content: center;
    border: 4px solid rgba(0, 0, 0, 0.534);
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 3rem;
  }
@media(min-width:340px) and (max-width:375px) {
    .triangle-game__buttons {
        place-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2.5rem;
        column-gap: 2.5rem;
        background-image: url(images/bg-triangle.svg);
        background-repeat: no-repeat;
        background-size: 220px;
        background-position: center;
    }
    .triangle-game__buttons button {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        display: flex;
        place-content: center;
        background-color: white;
        cursor: pointer;
    }
    .rock__button {
        position: relative;
        left: 65%;
        bottom: 10%;
    }
    .white {
      background: white;
    }
    .rules__section {
      display: none;
      /* flex-direction: column; */
      background-color: white;
      text-align: center;
      justify-items: center;
      z-index: 7;
      animation: vanish 400ms;
    }
    .rules__section[open] {
      animation: appear 500ms;
    }
}
@media(min-width:375px) and (max-width:460px) {
    .triangle-game__buttons {
        place-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3.5rem;
        column-gap: 4rem;
        background-image: url(images/bg-triangle.svg);
        background-repeat: no-repeat;
        background-size: 220px;
        background-position: center;
    }
    .triangle-game__buttons button {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        display: flex;
        place-content: center;
        background-color: white;
        cursor: pointer;
    }
    .rock__button {
        position: relative;
        left: 75%;
        bottom: 10%;
    }
    .white {
      background: white;
    }
    .rules__section {
      display: none;
      /* flex-direction: column; */
      background-color: white;
      text-align: center;
      justify-items: center;
      z-index: 7;
      animation: vanish 400ms;
    }
    .rules__section[open] {
      animation: appear 500ms;
    }
}
@media (min-width:460px) {
  .rules__section {
    padding: 1rem;
    place-self: center;
    width: 420px;
    height: 420px;
    grid-template-rows: 100px 400px;
    border-radius: 0.5rem;
  }
  .rules-close-button {
    grid-row: 1;
    position: relative;
    bottom: 40px;
  }
  .rules {
    grid-row: 1;
    position: relative;
    right: 100px;
    top: 6px;
  }
  .rule-image{
   position: relative;
   left: 35px;
  }
  .triangle-game__buttons {
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3.5rem;
    column-gap: 5.5rem;
    background-image: url(images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: center;
    margin-top: 4rem;
}
.triangle-game__buttons button {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  place-content: center;
  background-color: white;
  cursor: pointer;
}
.game-logo {
  width: 140px;
}
.score__small-box {
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.score {
  font-size: 1.2rem;
}
.score__number {
  font-size: 3.5rem;
}
}
@media (min-width:800px) {
  .triangle-game__buttons {
    margin-top: 7rem;
  }
.game__rules-button {
  justify-self: center;
  align-self: flex-end;
  display: flex;
  width: 100%;
  place-content: end;
}
.rules__button {
  margin-right: 3rem;
}
}
.hidden {
  display: none;
}
